<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.text_area :content, placeholder: "Hello world!" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>